<!DOCTYPE html>
<html>
    <head>
        <title>MyToDoList</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <form>
            <div>
                <center>
                <h2>My To Do List</h2>
                <input name="myInput" id="myInput" type="text" placeholder="Enter Your Plan Today">
                <input id="addBtn" type="submit">
                </center>
            </div>
            
            <ul id="MyList"></ul>
        </form>

        <script>
            $(document).ready(function() {

                var $MyList = $("#MyList")



                $("form").on("submit", function(event) {
                    $.ajax({
                        data: {
                            InputData: $("#myInput").val(),
                        },
                        type: "POST",
                        url: "/todo/create"
                    })
                    .done(function(data) {
                        if (data.error) {
                            alert("You must write something");
                        } else {
                            $MyList.append("<li>" + data.success + "</li>");
                            $("#myInput").val("");
                        }
                    });
                    event.preventDefault();
                });



                $.ajax({
                    type: "GET",
                    url: "/todo/read"
                })
                .done(function(todo) {
                    $.each(todo, function(index, item) { 
                        $MyList.append("<li>" + item + "</li>");
                    });
                });
                



                $('#MyList').on('click', 'li', function() {
                    console.log($(this).html());
                    $.ajax({
                        data: $(this).html(),
                        contentType: "application/json; charset=utf-8",
                        type: "DELETE",
                        url: "/todo/delete"
                    })
                    .done(function(todo) {
                        $MyList.empty();
                        console.log(todo);
                        $.each(todo, function(index, item) { 
                            $MyList.append("<li>" + item + "</li>");
                        });
                    });
                    event.preventDefault();
                });




                });
        </script>
    </body>
</html>