body {
  background: url("../images/img.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.header {
  margin-bottom: 15px;
  margin-top: 10%;
}

h2 {
  width:100%;
  position: relative;
  text-align: center;
  font-size: 8vw;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

ul li:hover {
  font-size: 20px;
  color: #fffcdb;
  font-weight: bold;
}

li {
  border-color: #fff;
  border-width: 0 2px 2px 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14 px;
  color: white;
}

ul li.checked {
  color: grey;
  text-decoration: line-through;
}

#MyList {
  margin-top: 2%;
  margin-left: 25%;
}


/*.close:hover{
  font-size: 30px;
  color: white;
}

.close {
  margin-right: 43%;
  color: white;
}*/

